extends ../templates/layout
block content
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-header
              strong.card-title All Users
            .card-body
              -if (success_messages != '')
                #errorMessage.alert.alert-success(role='alert') #{success_messages}
              -if (error_messages != '')
                #errorMessage.alert.alert-danger(role='alert') #{error_messages}
              table#bootstrap-data-table.table.table-striped.table-bordered
                thead
                  tr
                    th ID
                    th Nom
                    th Email
                    th Type
                    th Option
                tbody
                  each key in jsonData
                    tr
                      td !{key.id}
                      td !{key.name}
                      td !{key.email}
                      td !{key.type}
                      td 
                        .d-flex.justify-content-around
                          div
                            a(href=`/users/edit/${key.id}`)
                              i.fa.fa-edit
                          div
                            a(href=`/users/delete/${key.id}` onclick="return confirm('Are you sure you want to delete this item?');")
                              i.fa.fa-trash

  script.
    //- $(document).ready(function() {
    //-   var url = document.URL;
    //-   var id = url.substring(url.lastIndexOf('/') + 1);
      
    //-   //- if(localStorage.getItem('user_id') != id) {
    //-   //- window.location = `/users/${localStorage.getItem('user_id')}`
    //-   //- }
    //- })
    
                
  